<div class="container">
  <h1>Welcome to Helping Hours</h1>

  <agm-map
    [latitude]="userLocation.lat"
    [longitude]="userLocation.lng"
    [scrollwheel]="null"
    [zoom]="userLocation.zoom"
    [gestureHandling]="'cooperative'"
    (zoomChange)="zoomChange($event)"
  >

  <!-- <agm-marker 
    *ngFor="let point of points | async" 
    [latitude]="point.pos.geopoint.latitude" 
    [longitude]="point.pos.geopoint.longitude"
  >
    <agm-info-window>
      {{ point | json }}
    </agm-info-window>
  </agm-marker> -->

    <agm-marker
      *ngFor="let org of points | async"
      [latitude]="org.pos.geopoint.latitude"
      [longitude]="org.pos.geopoint.longitude"
      (markerClick)="markerClick(iw)"
      >
      <agm-info-window #iw >
        <div class="infoMarker">
          <h3
            class="pHover"
            [routerLink]="['/Organization', org.uid]"
            title="Visit {{ org.organization }}'s page"
          >
            {{ org.organization }}
          </h3>
          <p
            class="pHover"
            (click)="openAddressinGoogleMaps(org.fullAddress)"
            title="Get directions to {{ org.organization }} "
          >
            {{ org.fullAddress }}
          </p>

          <div class="infoBody">
            <img
              [routerLink]="['/Organization', org.uid]"
              title="Visit {{ org.organization }}'s page"
              src="{{org?.tempPhoto | async}}"
              alt=""
            />
            <div class="contact">
              <a
                class="orgPhone pHover"
                href="tel:{{ org.phone }}"
                title="Call {{ org.organization }}"
              >
                {{ org.phone }}
              </a>
              <p
                class="pHover"
                (click)="visitWebsite(org.website)"
                title="Visit {{ org.organization }}'s Website "
              >
                Website
              </p>
            </div>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>

    <agm-circle 
      *ngIf="showRadius"
      [latitude]="newLatLng.lat"
      [longitude]="newLatLng.lng"
      [radius]="(radius | async) * 1000"
      >
    </agm-circle>


  </agm-map>

  <!-- <div class="nearby" *ngIf="allOrgs">

    <h2>Whats Nearby?</h2>

    <div class="simpleOrgs" *ngIf="allOrgs.length >= 3">

      <app-simple-org
        class="org mat-elevation-z5"
        [org]="allOrgs[4]"
        [dayTime]="dayObj"
        ></app-simple-org>
        
        <app-simple-org
        class="org mat-elevation-z5"
        [org]="allOrgs[1]"
        [dayTime]="dayObj"
        ></app-simple-org>
        
        <app-simple-org
        class="org mat-elevation-z5"
        [org]="allOrgs[2]"
        [dayTime]="dayObj"
      ></app-simple-org>

      
    </div> 

  </div> -->

  <!-- <h4>Add Search Bar Component Here</h4> -->

  <!-- {{ points | async }} -->

</div>
