<div class="container">
  <h1>Welcom to Helping Hours</h1>

  <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="zoom" 
    [scrollwheel]="null"
    [gestureHandling]="'cooperative'"
  >
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window>{{ lat }},{{ lng }}</agm-info-window>
    </agm-marker>
  </agm-map>

  <div class="simpleOrgs">
    <app-simple-org class="org"></app-simple-org>
    <app-simple-org class="org"></app-simple-org>
    <app-simple-org class="org"></app-simple-org>
  </div>

  <h4>Add Search Bar Here</h4>
</div>
