.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1em;
  
  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  mat-card{
    width: 75%;
    margin: 0 auto;
  
    .servicesContainer{
      width: 100%;
      padding-top: 1em;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 310px));
      padding-bottom: 1.25em;
    }

    mat-form-field {
      width: 100%;

      textarea {
        height: 65px;
      }
    }
  

    .matHint {
      margin-bottom: 1.25em;
      font-size: .75em;
    }

    .stepperBtn, .stepperBtns {
      margin-top: 12px;
    }

    .stepperBtn{
      display: flex;
      justify-content: flex-end;
      width: 75%;
    }
    
    .stepperBtns{
      display: flex;
      justify-content: space-between;
      width: 75%;
    }

    .stepperBtnFinish {
      display: flex;
      justify-content: center;
      width: 75%;
      margin-top: 25px;
    }


  }



  // form {
  //   // outline: 1px solid red;
  //   width: 50%;
  //   margin: 0 auto;

  //   mat-form-field{
  //     width: 95%;
  //   }
  // }

  // *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~



}