.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1em;
  
  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  mat-card{
    width: 75%;
    margin: 0 auto;
  
    .servicesContainer{
      width: 100%;
      padding-top: 1em;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 310px));
      padding-bottom: 1.25em;
    }

    mat-form-field {
      width: 100%;

      textarea {
        height: 65px;
      }
    }
  

    .matHint {
      margin-bottom: 1.25em;
      font-size: .75em;
    }

    .nextPageBtn {
      margin-top: 1.25em;
    }



  }



  // form {
  //   // outline: 1px solid red;
  //   width: 50%;
  //   margin: 0 auto;

  //   mat-form-field{
  //     width: 95%;
  //   }
  // }

  // *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~



}