.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1em;

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  mat-card {
    width: 85%;
    margin: 0 auto;

    .dayRow {
      // outline: 1px solid red;
       display: grid;
      grid-template-columns: [day]100px [open]135px [to]45px [close]135px [closed]100px;
      align-items: baseline;
      position: relative;
      margin-left: 2%;


      .dayOfWeek {
        grid-area: day;
        text-align: end;
        margin-right: 20px;
      }
      
      .openTime {
        grid-area: open;
        
        input {
          width: 70%;
        }
        
      }
      
      .to {
        grid-area: to;
        padding-left: 10px;
        margin: 13px 0;
      }
      
      .closeTime {
        grid-area: close;
        
        input {
          width: 70%;
        }
      }
      .closedAllDay {
        grid-area: closed;
        text-align: end;
      }



    }



  }




  ::ng-deep .ngx-material-timepicker-toggle{
    display: inherit;
    // line-height: 50px;
    position: absolute;
    top: 7px;

  }
}
