<div class="container">
  <h2>
    Lets get your hours
  </h2>

  <!-- <pre>
    {{ user | json }}
  </pre> -->

  <mat-card>
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="hoursOfOperationStep">
        <form [formGroup]="hoursOfOperation">
          <ng-template matStepLabel>When are you open? </ng-template>

          <div class="dayRow" formGroupName="monday">
            <div class="dayOfWeek">Monday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="HOPMonOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />
              <ngx-material-timepicker-toggle
                [for]="HOPMonOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #HOPMonOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="HOPMonClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />
              <ngx-material-timepicker-toggle
                [for]="HOPMonClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #HOPMonClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursOfOperation.controls.monday)"
                >Closed</mat-checkbox
              >
              <!-- <mat-checkbox formControlName="isClosed" >Closed</mat-checkbox> -->
            </div>
          </div>

          <div class="dayRow" formGroupName="tuesday">
            <div class="dayOfWeek">Tuesday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="HOPTueOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPTueOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #HOPTueOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="HOPTueClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPTueClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #HOPTueClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursOfOperation.controls.tuesday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="wednesday">
            <div class="dayOfWeek">Wednesday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="HOPWenOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPWenOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #HOPWenOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="HOPWenClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPWenClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #HOPWenClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursOfOperation.controls.wednesday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="thursday">
            <div class="dayOfWeek">Thursday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="HOPThurOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPThurOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #HOPThurOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="HOPThurClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPThurClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #HOPThurClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursOfOperation.controls.thursday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="friday">
            <div class="dayOfWeek">Friday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="HOPFriOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPFriOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #HOPFriOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="HOPFriClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPFriClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #HOPFriClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursOfOperation.controls.friday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="saturday">
            <div class="dayOfWeek">Saturday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="HOPSatOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPSatOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #HOPSatOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="HOPSatClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPSatClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #HOPSatClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursOfOperation.controls.saturday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="sunday">
            <div class="dayOfWeek">Sunday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="HOPSunOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPSunOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #HOPSunOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="HOPSunClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="HOPSunClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #HOPSunClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursOfOperation.controls.sunday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div>
            <button mat-button type="button" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step
        [stepControl]="hoursServingFoodStep"
        *ngIf="user.services.servesFood"
      >
        <form [formGroup]="hoursServingFood">
          <ng-template matStepLabel
            >What times do you serve food??
          </ng-template>

          <div class="dayRow" formGroupName="monday">
            <div class="dayOfWeek">Monday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="ServingMonOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />
              <ngx-material-timepicker-toggle
                [for]="ServingMonOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingMonOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="ServingMonClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />
              <ngx-material-timepicker-toggle
                [for]="ServingMonClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingMonClose
                [defaultTime]="'12:00 pm'"
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursServingFood.controls.monday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="tuesday">
            <div class="dayOfWeek">Tuesday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="ServingTueOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingTueOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingTueOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="ServingTueClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingTueClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #ServingTueClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursServingFood.controls.tuesday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="wednesday">
            <div class="dayOfWeek">Wednesday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="ServingWenOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingWenOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingWenOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="ServingWenClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingWenClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #ServingWenClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursServingFood.controls.wednesday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="thursday">
            <div class="dayOfWeek">Thursday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="ServingThurOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingThurOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingThurOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="ServingThurClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingThurClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #ServingThurClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursServingFood.controls.thursday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="friday">
            <div class="dayOfWeek">Friday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="ServingFriOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingFriOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingFriOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="ServingFriClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingFriClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #ServingFriClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursServingFood.controls.friday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="saturday">
            <div class="dayOfWeek">Saturday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="ServingSatOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingSatOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingSatOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="ServingSatClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingSatClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #ServingSatClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursServingFood.controls.saturday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div class="dayRow" formGroupName="sunday">
            <div class="dayOfWeek">Sunday</div>

            <div class="openTime">
              <input
                [ngxTimepicker]="ServingSunOpen"
                [disableClick]="false"
                formControlName="open"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingSunOpen"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                #ServingSunOpen
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <p class="to">to</p>

            <div class="closeTime">
              <input
                [ngxTimepicker]="ServingSunClose"
                [disableClick]="false"
                formControlName="close"
                readonly
              />

              <ngx-material-timepicker-toggle
                [for]="ServingSunClose"
              ></ngx-material-timepicker-toggle>

              <ngx-material-timepicker
                [defaultTime]="'12:00 pm'"
                #ServingSunClose
                [minutesGap]="5"
              ></ngx-material-timepicker>
            </div>

            <div class="closedAllDay">
              <mat-checkbox
                (click)="disableDay(hoursServingFood.controls.sunday)"
                >Closed</mat-checkbox
              >
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Thats it!</ng-template>
        Lets take a look at your page!
        <div>
          <button
            class="nextPageBtn"
            mat-raised-button
            color="primary"
            (click)="addHours()"
          >
            Setup Hours
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>

<!-- 


          <div formGroupName="monday" class="day">
            <p>Monday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="mClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="mClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="tuesday" class="day">
            <p>Tuesday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="tClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="tClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="wednesday" class="day">
            <p>Wednesday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="wClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="wClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="thursday" class="day">
            <p>Thursday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="thClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="thClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="friday" class="day">
            <p>Friday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="fClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="fClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="saturday" class="day">
            <p>Saturday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="saClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="saClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="sunday" class="day">
            <p>Sunday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="suClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              [disabled]="suClosed.value"
              formControlName="close"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>


 -->

<!-- <form (ngSubmit)="testing()">
      <ngx-timepicker-field
        [defaultTime]="'11:11 am'"
        [disabled]="false"
        [(ngModel)]="testingInput"
        name='test'
      ></ngx-timepicker-field>

      <ngx-timepicker-field
        [disabled]="false"
        [(ngModel)]="testingInput2"
        name='test2'
        ></ngx-timepicker-field>

      <button mat-raised-button>testBTN</button>
    </form> -->
