<div class="container">
  <h2>
    Lets get your hours
  </h2>

  <!-- <pre>
    {{ user | json }}
  </pre> -->

  <mat-card>
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="hoursOfOperationStep">
        <ng-template matStepLabel>When are you open? </ng-template>

        <app-edit-hours
          *ngFor="let day of hoursOfOpArray; let i = index"
          [dayInput]="day"
          (dayOutput)="receiveTime('HOP', $event)"
        >
        </app-edit-hours>


        <div class="stepperBtn">
          <button
            [disabled]="HOPErrors"
            color='primary'
            mat-raised-button
            type="button"
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step
        [stepControl]="hoursServingFoodStep"
        *ngIf="user.services.servesFood"
      >
        <ng-template matStepLabel>What times do you serve food?? </ng-template>

        <app-edit-hours
          *ngFor="let day of hoursServingArray; let i = index"
          [dayInput]="day"
          (dayOutput)="receiveTime('Food', $event)"
        >
        </app-edit-hours>

        <div class="stepperBtns">
          <button 
            color='accent'
            mat-raised-button
            matStepperPrevious 
            type="button"
            >
            Back
          </button>
          <button 
            color='primary'
            mat-raised-button
            matStepperNext 
            type="button" 
            [disabled]="servingErrors"
          >
          Next
        </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Thats it!</ng-template>
        Lets take a look at your page!
        <div class="stepperBtnFinish">
          <button
            class="nextPageBtn"
            mat-raised-button
            color="primary"
            (click)="addHoursToDB()"
          >
            Finish!
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>

<!-- 


          <div formGroupName="monday" class="day">
            <p>Monday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="mClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="mClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="tuesday" class="day">
            <p>Tuesday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="tClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="tClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="wednesday" class="day">
            <p>Wednesday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="wClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="wClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="thursday" class="day">
            <p>Thursday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="thClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="thClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="friday" class="day">
            <p>Friday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="fClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="fClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="saturday" class="day">
            <p>Saturday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="saClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              formControlName="close"
              [disabled]="saClosed.value"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>

          <div formGroupName="sunday" class="day">
            <p>Sunday</p>
            <ngx-timepicker-field
              formControlName="open"
              [disabled]="suClosed.value"
            ></ngx-timepicker-field>
            <ngx-timepicker-field
              [disabled]="suClosed.value"
              formControlName="close"
            ></ngx-timepicker-field>
            <mat-checkbox formControlName="isClosed">Closed</mat-checkbox>
          </div>


 -->

<!-- <form (ngSubmit)="testing()">
      <ngx-timepicker-field
        [defaultTime]="'11:11 am'"
        [disabled]="false"
        [(ngModel)]="testingInput"
        name='test'
      ></ngx-timepicker-field>

      <ngx-timepicker-field
        [disabled]="false"
        [(ngModel)]="testingInput2"
        name='test2'
        ></ngx-timepicker-field>

      <button mat-raised-button>testBTN</button>
    </form> -->
