.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1em;
  
  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }


  mat-card{
    width: 75%;
    margin: 0 auto;
    

    form {
      // outline: 1px solid red;
      // width: 60%;
      // margin: 0 auto;
      // width: 75%;
      // margin: 0 auto;

      mat-form-field{
        width: 95%;
      }

      .matHint {
        margin-bottom: 1.25em;
        font-size: .75em;
      }

      .stepperBtn, .stepperBtns {
        margin-top: 12px;
      }

      .stepperBtn{
        display: flex;
        justify-content: flex-end;
        width: 75%;
      }
      
      .stepperBtns{
        display: flex;
        justify-content: space-between;
        width: 75%;
      }

      .stepperBtnFinish {
        display: flex;
        justify-content: center;
        width: 75%;
        margin-top: 25px;
      }

      // .nextPageBtn {
      //   margin-top: 1.25em;
      // }

    }

  }

  // *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~



}