<div class="container" *ngIf="user$ as org">
  <h1>Edit Profile</h1>

  <div class="mainContent">
    <div class="leftSide">
      <form [formGroup]="mainForm" class="mainForm">
        <div class="updateForm">
          <mat-form-field>
            <mat-label>Organization Name</mat-label>
            <input matInput required formControlName="organization" />
          </mat-form-field>

          <div class="address">
            <span>Address *</span>
            <p>{{ org.fullAddress }}</p>

            <button
              mat-raised-button
              type="button"
              color="primary"
              (click)="changeAddress()"
            >
              Change
            </button>
          </div>

          <mat-form-field>
            <mat-label>{{
              org.website === "" ? "Add your website" : "Website"
            }}</mat-label>
            <input matInput formControlName="website" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" required formControlName="phone" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{
              org.contactEmail === "" ? "Add a contact email" : "Contact Email"
            }}</mat-label>
            <input matInput type="email" formControlName="contactEmail" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>About</mat-label>
            <textarea
              matInput
              required
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="about"
            ></textarea>
          </mat-form-field>

          <div class="servicesContainer">

            <div class="beds">
              <mat-checkbox
                matInput
                formControlName="beds"
                #beds
                (click)="updateBedCount(!beds.checked)"
              >
                <p *ngIf="bedVariable">
                  {{ org.bedCount }} Beds Available
                </p>

                <p *ngIf="!bedVariable">
                  Beds Available
                </p>
              </mat-checkbox>

              <button 
                class="editBedBtn"
                *ngIf="bedVariable"  
                mat-icon-button 
                color="primary"
                (click)="editBedCount()"
                >
                <mat-icon>
                  edit
                </mat-icon>
              </button>
            </div>

            <mat-checkbox matInput formControlName="childcare">
              Child Care
            </mat-checkbox>

            <mat-checkbox matInput formControlName="education"
              >Education Assistance</mat-checkbox
            >
            <mat-checkbox matInput formControlName="interviewPrep"
              >Interview Preperation</mat-checkbox
            >
            <mat-checkbox matInput formControlName="jobPlacement"
              >Job Placement Assistance</mat-checkbox
            >

            <mat-checkbox matInput formControlName="donations"
              >Donation Center</mat-checkbox
            >

            <mat-checkbox
              matInput
              formControlName="servesFood"
              #servesFood
              (click)="showServesFoodHours(!servesFood.checked)"
              >Do you serve food?</mat-checkbox
            >
          </div>

          <mat-form-field>
            <mat-label
              >{{
                org.otherServices === ""
                  ? "What other services do you provide? "
                  : "Other services you provide "
              }}
            </mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="otherServices"
            ></textarea>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="rightSide">

      <div class="imageContainer">
        <img
          src="{{orgImage | async}}"
          alt=""
        />

        <button 
          class="editImgBtn"
          mat-icon-button 
          color="primary"
          (click)="editImg()"
          >
          <mat-icon>
            edit
          </mat-icon>
        </button>

      </div>

      <div class="editHours">
        <button
          mat-raised-button
          color="primary"
          class="editBtn"
          (click)="editHours()"
        >
          <mat-icon class="material-icons">
            edit
          </mat-icon>
          Edit {{ hoursToEditString }}
        </button>

        <app-hours
          class="orgHoursHOP"
          [user]="user$"
          [showHours]="hoursToEdit"
          (identifierResponse)="changeHoursToEdit($event)"
        ></app-hours>
      </div>
    </div>
  </div>

  <div class="bottomBtns">
    <button
      mat-raised-button
      color="primary"
      (click)="updateProfile()"
      [disabled]=" !updateProfileCheck"
      >
      Update Profile
    </button>
    <button mat-raised-button color="warn" (click)="deleteUserDialog()">
      Delete Account
    </button>
  </div>
</div>
