<div class="mainContainer">
  <mat-toolbar>
    <a class="title" [routerLink]="['']">Helping Hours</a>

    <span class="spacer"></span>

    <button
      *ngIf="user$"
      mat-stroked-button
      class="btn mat-elevation-z1"
      (click)="signOut()"
    >SignOut</button>

    <button
      mat-stroked-button
      class="btn mat-elevation-z1"
      [routerLink]="['LoginRegister']"
    >
      Login/Register
    </button>

    <button
      mat-stroked-button
      class="btn mat-elevation-z1"
      [routerLink]="['Register/Services']"
    >
      Registration/Services
    </button>

    <button
      mat-stroked-button
      class="btn mat-elevation-z1"
      [routerLink]="['Register/MoreInfo']"
    >
      Registration/MoreInfo
    </button>

    <button mat-stroked-button class="btn mat-elevation-z1" [routerLink]="['']">
      Home
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
