<div class="mainContainer">
  <mat-toolbar>
    <a class="title" [routerLink]="['']">Helping Hours</a>

    <span class="spacer"></span>

    <button
      *ngIf="user$"
      mat-stroked-button
      class="btn mat-elevation-z1"
      (click)="signOut()"
    >
      SignOut
    </button>

    <button
      mat-stroked-button
      class="btn mat-elevation-z1"
      [routerLink]="['LoginRegister']"
    >
      Login/Register
    </button>

    <button
      mat-stroked-button
      class="btn mat-elevation-z1"
      [routerLink]="['Organization/yBi5RKxOP8Z5ftnfJzuFpWCK7mg1']"
    >
      Orgw/ID
      
    </button>



    <button mat-stroked-button class="btn mat-elevation-z1" [routerLink]="['']">
      Home
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
