<div class="mainContainer">
  <mat-toolbar class="mat-elevation-z1">
    <a class="title " [routerLink]="['']">Helping Hours</a>

    <span class="spacer"></span>

    
    <!-- Temp -->
    <button
      mat-stroked-button
      class="btn mat-elevation-z1"
      [routerLink]="['Register', 'Hours']"
    >
      Hours
    </button>
    <!-- Temp -->




    <div *ngIf="!user$; else notLoggedIn">
        <!-- class="btn mat-elevation-z1" -->
        <button mat-button [routerLink]="['LoginRegister']">
          Login/Register
        </button>
      </div>

    <ng-template #notLoggedIn class="loggedIn">
      <button mat-button [matMenuTriggerFor]="menu">
        <span> My Account </span>
        <!-- <mat-icon>menu</mat-icon> -->
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['Organization', user$.uid]">
          <mat-icon class="material-icons">
            web
          </mat-icon>
          <span>My Page</span>
        </button>

        <button mat-menu-item [routerLink]="['OrgAdmin', user$.uid]">
          <mat-icon class="material-icons">
            edit
          </mat-icon>
          <span>Edit Profile</span>
        </button>

        <button mat-menu-item (click)="signOut()">
          <mat-icon class="material-icons">
            exit_to_app
          </mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </ng-template>


    <!-- !! NEED TO ADD PAGE !! -->
    <!-- <button mat-stroked-button class="btn mat-elevation-z1" [routerLink]="['']">
      About Us
    </button> -->
    <!-- 
    <button mat-stroked-button class="btn mat-elevation-z1" [routerLink]="['']">
      Home
    </button> -->
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
