<div class="container" *ngIf="org">
  <div class="simpleOrgImage">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/hh-ng8-v1.appspot.com/o/Temp%2FChurch.jpg?alt=media&token=42710afe-d701-4b55-ad2a-f16a9bc7c904"
      alt=""
    />
  </div>

  <div class="simpleOrgContact">
    <h1 class="orgName" [routerLink]="['/Organization', org.uid]">
      {{ org.organization }}
    </h1>

    <div class="orgAddress">
      <p>{{ org.fullAddress }}</p>
    </div>

    <!-- TODO: Make all orgInfo into buttons on mobile -->
    <div class="simpleOrgInfo">
      <a href="{{ org.website }}"> Website </a>
      <p>{{ org.phone }}</p>
      <p>{{ org.contactEmail }}</p>
    </div>

    <div class="simpleOrgLowerHalf">
      <div class="simpleOrgContent">
        <button
          mat-raised-button
          [ngClass]="org.services.beds ? 'available' : 'notAvailable'"
          disabled
        >
          Beds Available
        </button>
        <button
          mat-raised-button
          [ngClass]="org.services.donations ? 'available' : 'notAvailable'"
          disabled
        >
          Donations Center
        </button>
      </div>

      <div class="simpleOrgHours">
        <button mat-raised-button disabled>
          Open Now
        </button>
        <button mat-raised-button disabled>
          Serving Food
        </button>
      </div>
    </div>
  </div>
</div>
