<div class="container" *ngIf="org">
  <div
    class="topHalf pHover"
    [routerLink]="['/Organization', org.uid]"
    title="See to {{ org.organization }}'s page "
  >
    <div class="simpleOrgImage">
      <img
        src="{{orgImage | async}}"
        alt=""
      />
    </div>

    <h2 class="orgName">
      {{ org.organization }} 
    </h2>
  </div>
  <!-- -~-~-~-~-~-~- End Top Half -~-~-~-~-~-~- -->

  <div class="bottomHalf">
    <div class="orgAddress">
      <p
        class="pHover"
        title="Get directions to {{ org.organization }}"
        (click)="getDirections(org.fullAddress)"
      >
        {{ address }}
      </p>
    </div>

    <!-- TODO: Make all orgInfo into buttons on mobile -->
    <div class="simpleOrgInfo">
      <p
        *ngIf="org.website"
        class="pHover"
        title="Visit {{ org.organization }}'s website"
        (click)="visitWebsite(org.website)"
      >
        Website
      </p>
      <a
        class="orgPhone pHover"
        title="{{ org.organization }}'s phone number "
        href="tel:{{ org.phone }}"
        >{{ org.phone }}</a
      >
      <p
        class="pHover"
        [ngClass]="{ addedToClipboard: clipboard }"
        *ngIf="org.contactEmail"
        (click)="copyEmail(org.contactEmail)"
        title="Copy email to clipboard"
        >
        {{ emailPlaceHolder }}
      </p>
    </div>

    <!-- -~-~-~-~-~-~- Start Contex  -~-~-~-~-~-~- -->

    <div class="orgContext">
      <div
        class="hoursOfOperation contextRow z-depth-1"
        [ngClass]="hoursOfOpOpen ? 'available' : 'notAvailable'"
        >
        <div class="name hop"> {{ hoursOfOpString }} </div>
        <div *ngIf="hoursOfOpContext" class="context"> {{hoursOfOpContext}} </div>
      </div>

      <div
        *ngIf="org.services.servesFood"
        class="hoursServingFood contextRow z-depth-1"
        [ngClass]="hoursServingFoodNow ? 'available' : 'notAvailable'"
        >
        <div class="name"> {{ hoursServingFoodString }} </div>
        <div *ngIf="hoursServingFoodContext" class="context"> {{ hoursServingFoodContext }} </div>
      </div>

      <div
        *ngIf="org.services.beds"
        class="bedsAvailable contextRow z-depth-1"
        [ngClass]="bedWarningClass ? 'bedWarning' : 'available'" 
        >
        <!-- [ngClass]="org.services.beds ? 'available' : 'notAvailable'" -->
        <div 
          class="bedString" 
          >
          {{ bedString }} 
        </div>
      </div>
    </div>

    
    <!-- -~-~-~-~-~-~- End Contex  -~-~-~-~-~-~- -->
    <p class="lastUpdated">Last updated on {{ org.lastUpdated | date:'medium' }} </p>
    <!-- <p class="lastUpdated">Last updated on July 23, 2019 2:35pm</p> -->
  </div>
</div>
