// Import library functions for theme creation.
@import "~@angular/material/theming";
$primary: mat-palette($mat-indigo);

.container {
  width: 100%;
  height: 100%;
  // min-height: 475px;
  position: relative;

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

  .topHalf {
    min-height: 290px;

    .simpleOrgImage {
      width: 100%;

      img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        width: 100%;
        height: 100%;
        max-height: 205px;
        object-fit: cover;
      }
    }
    .orgName {
      text-align: center;
      margin: 0;
      padding: 0.5em 0.5em 0.5em 0.5em;
      font-size: 1.1em;
      // cursor: pointer;
    }
  }

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

  .bottomHalf {
    padding: 0.15em 0.5em 3em 0.5em;
    margin-bottom: 1em;
    font-size: 0.9em;
    height: 13em;
    position: relative;

    .orgAddress p {
      text-align: center;
      margin-top: 0.75em;
      margin-bottom: 0.5em;
    }

    // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
    .simpleOrgInfo {
      display: flex;
      justify-content: space-around;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      a {
        text-decoration: none;
        color: #000;
      }

      p,
      a {
        padding: 0.5em;
        margin: 0;
      }
    }

    // -~-~-~-~-~-~-~-~- Context Section -~-~-~-~-~-~-~-~-

    .orgContext {
      padding: 0.15em 0.5em 0.5em 0.5em;

      .contextRow {
        display: flex;
        justify-content: space-around;
        line-height: 2em;
        margin-bottom: 0.5em;

        .name {
          font-size: 1em;
          width: 72%;
          padding-left: 10px;
        }

        .context {
          width: 100%;
          text-align: center;
          padding-right: 15px;
        }

        .hop {
          padding-left: 0;
          text-align: center;
        }

        .bedString {
          text-align: center;
          padding: 0;
        }
      }
    }

    .lastUpdated {
      position: absolute;
      padding: 0;
      font-size: 0.8em;
      text-align: center;
      color: rgb(0, 0, 0, 0.4);
      width: 220px;
      bottom: 5px;
      right: calc(50% - 110px);
      // margin-top: 0;
    }

    // -*-*-*-*-*-*-*-*-*-*-*-*-*-* Functional Styling -*-*-*-*-*-*-*-*-*-*-*-*-*-*
    .addedToClipboard {
      color: #000;
      background-color: rgb(215, 215, 215, 0.3);
      border-radius: 4px;
      // padding: 8px;
    }

    .addedToClipboard:hover {
      color: #000;
    }

    .pHover:hover {
      color: rgba($color: #000000, $alpha: 0.5);
      cursor: pointer;
    }

    // -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
    .notAvailable {
      border-radius: 4px;
      opacity: 0.4;
      background-color: rgb(220, 220, 220);
    }

    .available {
      border-radius: 4px;
      background-color: mat-color($primary);
      color: #fff;
    }
  }
}
