.container {
  // background-color: lightblue;
  // max-width: 1500px;
  max-width: 990px;
  padding: 0.75em 0.5em 3.5em 0.5em;

  margin: 0 auto;

  h1 {
    margin: 0.25em auto 0.5em auto;
    text-align: center;
    font-size: 2.4em;
  }

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
  .orgImgMap {
    height: 390px;
    display: flex;
    justify-content: space-between;

    .orgImage {
      width: 59%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .orgMap {
      width: 40%;

      agm-map {
        width: 100%;
        height: 100%;
      }
    }
  }

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
  .orgContact {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75em;
    margin-bottom: 1em;

    a {
      text-decoration: none;
      color: #000;
    }

    p,
    a {
      padding: 0.5em;
      margin: 0;
    }

    .pHover:hover {
      color: rgba($color: #000000, $alpha: 0.5);
      cursor: pointer;
    }

    .orgInfo {
      width: 59%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 auto;

      p {
        width: 33%;
        text-align: center;
      }
    }

    .orgAddress {
      width: 40%;
      text-align: center;
    }
  }

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
  .orgHoursServices {
    margin-top: 1.3em;

    display: grid;
    grid-template-columns: 69% 30%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "about hours"
      "services hours"
      "otherServices hours";

    .orgAbout {
      grid-area: about;
      padding: 1em;
      padding-top: 0;

      h2 {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 22px;
      }

      p {
        text-align: center;
      }
    }

    .orgHours {
      grid-area: hours;
      border-radius: 4px;
      // margin-top: 2em;
    }

    .orgServices {
      grid-area: services;
      padding: 0.75em;
    }

    .orgOtherServices {
      grid-area: otherServices;
      padding: 1.25em;
      padding-top: 0;


      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  .addedToClipboard {
    color: #000;
    background-color: rgb(215, 215, 215, 0.3);
    border-radius: 4px;
    // padding: 8px;
  }

  .addedToClipboard:hover {
    color: #000;
  }
}
