<div class="container" *ngIf="organization as org">
  
  <h1>{{ org.organization }}</h1>

  <div class="orgImgMap">
    <div class="orgImage">
      <img
        [src]="orgImage | async"
        alt=""
      />
    </div>

    <div class="orgMap">
      <agm-map
        [latitude]="org.latLng.latitude"
        [longitude]="org.latLng.longitude"
        [zoom]="17"
        [scrollwheel]="null"
        [gestureHandling]="'cooperative'"
      >
        <agm-marker
          [latitude]="org.latLng.latitude"
          [longitude]="org.latLng.longitude"
        >
        </agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="orgContact">
    <div class="orgInfo">
      <p *ngIf="org.website" class="pHover" (click)="visitWebsite(org.website)">
        Visit Our Website
      </p>
      <a class="orgPhone pHover" href="tel:{{org.phone}}">{{ org.phone }}</a>

      <!-- <p>{{ org.phone }}</p> -->
      <p
        class="pHover"
        [ngClass]="{'addedToClipboard': clipboard}"
        *ngIf="org.contactEmail"
        (click)="copyEmailToClipboard()"
      >
        {{ emailPlaceHolder }}
      </p>
    </div>
    <div class="orgAddress">
      <p class="pHover" (click)="openAddressinGoogleMaps(org.fullAddress)">
        {{ org.fullAddress }}
      </p>
    </div>
  </div>



  <div class="orgHoursServices">
    <div class="orgAbout">
      <h2>About Us</h2>
      <p>
        {{ org.about }}
      </p>
    </div>

    <app-hours
      class="orgHours"
      [user]='organization'
      ></app-hours>

      
      <app-services class="orgServices" [services]="org.services" [bedCount]="org.bedCount" ></app-services>
      
      <div class="orgOtherServices" *ngIf="org.otherServices">
        <h3>Other Services We Offer</h3>
        
        <p>
          {{ org.otherServices }}
        </p>
      </div>
    </div>
    <p class="lastUpdated">Last updated on {{ org.lastUpdated | date:'medium' }} </p>
</div>
