.container {
  max-width: 1500px;
  padding: 0.75em 0.5em 3.5em 0.5em;

  margin: 0 auto;


  // max-width: 960px;
  // margin: 0 auto;
  // margin-top: 5%;

  // *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~

  agm-map{
    height: 250px;
  }

  .autocomplete-container {

  }



}
