.container {
  max-width: 990px;
  margin: 0 auto;
  margin-top: 5%;

  // *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }




}
