<div class="container">
  <div class="dayRow" [formGroup]="dayForm">
    <div class="dayOfWeek">{{ days[dayInput.day] }}</div>

    <div class="openTime">
      <input
        [ngxTimepicker]="openIcon"
        [disableClick]="false"
        formControlName="open"
        readonly
      />
      <ngx-material-timepicker-toggle
        [for]="openIcon"
      ></ngx-material-timepicker-toggle>

      <ngx-material-timepicker
        #openIcon
        [minutesGap]="5"
        (timeSet)="openTimeSet($event)"
      ></ngx-material-timepicker>
    </div>

    <p class="to">to</p>

    <div class="closeTime">
      <input
        [ngxTimepicker]="closeIcon"
        [disableClick]="false"
        formControlName="close"
        readonly
      />
      <ngx-material-timepicker-toggle
        [for]="closeIcon"
      ></ngx-material-timepicker-toggle>

      <ngx-material-timepicker
        [defaultTime]="'12:00 pm'"
        #closeIcon
        [minutesGap]="5"
        (timeSet)="closeTimeSet($event)"
      ></ngx-material-timepicker>
    </div>

    <div class="closedAllDay">
      <mat-checkbox formControlName="isClosed" hidden></mat-checkbox>
      <mat-checkbox
        #c
        (click)="disableDay(!c.checked)"
        [checked]="isClosedValue"
      >
        Closed
      </mat-checkbox>
    </div>
    
    <div class="errorMessage" *ngIf="error">{{ errorMessage }}</div>
  </div>

</div>
