<div class="container">

  <div class="dayRow" [formGroup]="dayForm">
    <div class="dayOfWeek">DDDAAAYYY</div>

    <div class="openTime">
      <input
        [ngxTimepicker]="openIcon"
        [disableClick]="false"
        formControlName="open"
        readonly/>

      <ngx-material-timepicker-toggle
        [for]="openIcon"
      ></ngx-material-timepicker-toggle>

      <ngx-material-timepicker
        #openIcon
        [minutesGap]="5"
      ></ngx-material-timepicker>
    </div>

    <p class="to">to</p>

    <div class="closeTime">
      <input
        [ngxTimepicker]="closeIcon"
        [disableClick]="false"
        formControlName="close"
        readonly/>

      <ngx-material-timepicker-toggle
        [for]="closeIcon"
      ></ngx-material-timepicker-toggle>

      <ngx-material-timepicker
        [defaultTime]="'12:00 pm'"
        #closeIcon
        [minutesGap]="5"
      ></ngx-material-timepicker>
    </div>

    <div class="closedAllDay">
      <mat-checkbox (click)="disableDay(dayForm.controls.isClosed)"
        >Closed</mat-checkbox
      >
    </div>
    <button type="button" (click)='showData()'>Click Me</button>
  </div>
</div>
