<div class="container">

  <div class="mainServices">
    <mat-checkbox [(ngModel)]="services.beds" [disabled]="true">
      Beds Available
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="services.childcare" [disabled]="true">
      Childcare Help
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="services.education" [disabled]="true">
      Educational Help
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="services.interviewPrep" [disabled]="true">
      Interview Prep
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="services.jobPlacement" [disabled]="true">
      Job Placement Options
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="services.donations" [disabled]="true">
      Donation Center
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="services.servesFood" [disabled]="true">
      Food Available
    </mat-checkbox>
  </div>

  
</div>
