.container {
  width: 100%;
  height: 100%;


  .mainServices{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
  }

  .otherServices {
    
    h3 {
      text-align: center;
    }
  }




}