<div class="container">
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    value="{{ hoursDisplayed }}"
  >
    <mat-button-toggle
      class="HofOp"
      value="HofOp"
      aria-label="Hours of Operation"
      (click)="changeHoursView('HofOp')"
    >
      Hours
    </mat-button-toggle>

    <mat-button-toggle
      class="serving"
      value="serving"
      aria-label="Hours Serving Food"
      (click)="changeHoursView('serving')"
    >
      Serving Food
    </mat-button-toggle>
  </mat-button-toggle-group>

  <table
    mat-table
    [dataSource]="HofOp"
    *ngIf="hoursDisplayed == 'HofOp'"
  >
    <!-- Day Column -->
    <ng-container matColumnDef="day">
      <td class="day" mat-cell *matCellDef="let element">{{ element.day | titlecase}}</td>
    </ng-container>

    <!-- Open Column -->
    <ng-container matColumnDef="open">
      <td class="open" mat-cell *matCellDef="let element">{{ element.open }}</td>
    </ng-container>

    <!-- Spacer Column -->
    <ng-container matColumnDef="spacer">
      <td class="spacer" mat-cell *matCellDef="let element">{{ element.spacer }}</td>
    </ng-container>

    <!-- Close Column -->
    <ng-container matColumnDef="close">
      <td class="close" mat-cell *matCellDef="let element">{{ element.close }}</td>
    </ng-container>

    <tr mat-row class="tableRows" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table
    mat-table
    [dataSource]="serving"
    *ngIf="hoursDisplayed == 'serving'"
  >
   <!-- Day Column -->
   <ng-container matColumnDef="day">
      <td class="day" mat-cell *matCellDef="let element">{{ element.day | titlecase }}</td>
    </ng-container>

    <!-- Open Column -->
    <ng-container matColumnDef="open">
      <td class="open" mat-cell *matCellDef="let element">{{ element.open }}</td>
    </ng-container>

    <!-- Spacer Column -->
    <ng-container matColumnDef="spacer">
      <td class="spacer" mat-cell *matCellDef="let element">{{ element.spacer }}</td>
    </ng-container>

    <!-- Close Column -->
    <ng-container matColumnDef="close">
      <td class="close" mat-cell *matCellDef="let element">{{ element.close }}</td>
    </ng-container>

    <tr mat-row class="tableRows" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
