.container {
  // max-width: 400px;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
  mat-button-toggle-group {
    width: 100%;
    // margin: 0 auto;

    mat-button-toggle {
      width: 50%;
    }
  }

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
  .displayHours {
    margin-top: 10px;
    border-radius: 4px;
    // max-width: 15em;
  }

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

  .displayDay {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25%;

    p {
      margin: 0.8em 0.25em;
    }

    .day {
      min-width: 40px;
    }

    .openTime {
      min-width: 65px;
    }

    .closedTime {
      min-width: 65px;
    }

    .spacer {
      margin: 0;
      margin-right: 0.5em;
    }

    span {
      font-size: 0.55em;
      text-align: center;
      color: green;
      min-width: 38px;
    }
  }
}
