.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.container {
  margin: 0 auto;
  // font-size: 15px;
  // font-family: "Roboto Mono", monospace;

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
  .buttonContainer{
    display: flex;
    justify-content: center;
    
    mat-button-toggle-group {
      width: 100%;
    }
  }


  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

  .HoursOfOperation {
    // font-family: "Roboto Mono", monospace;

    .dayRow {
      display: grid;
      grid-template-columns: [day]95px [open]85px [to]25px [close]85px;
      justify-content: center;
      text-align: center;
      width: 100%;

      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .day {
        grid-area: day;
        text-align: right;
        padding-right: 8px;
      }

      .open {
        grid-area: open;
      }

      .to {
        grid-area: to;
      }

      .close {
        grid-area: close;
      }
    }

    .dayRowClosed {
      display: grid;
      grid-template-columns: [day]95px [closed]195px;
      justify-content: center;
      text-align: center;
      width: 100%;

      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .day {
        grid-area: day;
        text-align: right;
        padding-right: 8px;
      }

      .closed {
        grid-area: closed;
      }
    }
  }
}
