<div class="container">
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    value="{{ hoursDisplayed }}"
  >
    <mat-button-toggle
      class="HofOp"
      value="HofOp"
      aria-label="Hours of Operation"
      (click)="changeHours('HofOp')"
    >
      Hours
    </mat-button-toggle>

    <mat-button-toggle
      class="serving"
      value="serving"
      aria-label="Hours Serving Food"
      (click)="changeHours('serving')"
    >
      Serving Food
    </mat-button-toggle>
  </mat-button-toggle-group>

  <table
    mat-table
    [dataSource]="HofOp"
    *ngIf="hoursDisplayed == 'HofOp'"
  >
    <!-- Day Column -->
    <ng-container matColumnDef="day">
      <td class="day" mat-cell *matCellDef="let element">{{ element.day }}</td>
    </ng-container>

    <!-- Open Column -->
    <ng-container matColumnDef="open">
      <td class="open" mat-cell *matCellDef="let element">{{ element.open }}</td>
    </ng-container>

    <!-- Spacer Column -->
    <ng-container matColumnDef="spacer">
      <td class="spacer" mat-cell *matCellDef="let element">{{ element.spacer }}</td>
    </ng-container>

    <!-- Close Column -->
    <ng-container matColumnDef="close">
      <td class="close" mat-cell *matCellDef="let element">{{ element.close }}</td>
    </ng-container>

    <tr mat-row class="tableRows" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table
    mat-table
    [dataSource]="serving"
    *ngIf="hoursDisplayed == 'serving'"
  >
   <!-- Day Column -->
   <ng-container matColumnDef="day">
      <td class="day" mat-cell *matCellDef="let element">{{ element.day }}</td>
    </ng-container>

    <!-- Open Column -->
    <ng-container matColumnDef="open">
      <td class="open" mat-cell *matCellDef="let element">{{ element.open }}</td>
    </ng-container>

    <!-- Spacer Column -->
    <ng-container matColumnDef="spacer">
      <td class="spacer" mat-cell *matCellDef="let element">{{ element.spacer }}</td>
    </ng-container>

    <!-- Close Column -->
    <ng-container matColumnDef="close">
      <td class="close" mat-cell *matCellDef="let element">{{ element.close }}</td>
    </ng-container>

    <tr mat-row class="tableRows" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- <div *ngIf="displayHours == 'HofOp'" class="displayHours mat-elevation-z8"> -->
<!-- <div *ngIf="displayHours == 'HofOp'" class="displayHours mat-elevation-z8">
    <div class="displayDay">
      <p class="day">Mon</p>
      <p class="openTime">2:00am</p>
      <p class="spacer">-</p>
      <p class="closedTime">12:30am</p>
    </div>

    <div class="displayDay">
      <p class="day">Tue</p>
      <p class="openTime">1:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">2:30am</p>
    </div>

    <div class="displayDay">
      <p class="day">Wen</p>
      <p class="openTime">2:20am</p>
      <p class="spacer">-</p>
      <p class="closedTime">1:15am</p>
    </div>

    <div class="displayDay">
      <p class="day">Thu</p>
      <p class="openTime">8:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">5:15am</p>
    </div>

    <div class="displayDay">
      <p class="day">Fri</p>
      <p class="openTime">12:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">2:30am</p>
    </div>

    <div class="displayDay">
      <p class="day">Sat</p>
      <p class="openTime">12:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">2:30am</p>
    </div>

    <div class="displayDay">
      <p class="day">Sun</p>
      <p class="openTime">12:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">2:30am</p>
    </div>
  </div>

  <div *ngIf="displayHours == 'hServing'"  class="displayHours mat-elevation-z8">
    <div class="displayDay">
      <p class="day">Mon</p>
      <p class="openTime">12:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">1:30am</p>
    </div>

    <div class="displayDay">
      <p class="day">Tue</p>
      <p class="openTime">9:40am</p>
      <p class="spacer">-</p>
      <p class="closedTime">5:35am</p>
    </div>

    <div class="displayDay">
      <p class="day">Wen</p>
      <p class="openTime">7:50am</p>
      <p class="spacer">-</p>
      <p class="closedTime">12:15am</p>
    </div>

    <div class="displayDay">
      <p class="day">Thu</p>
      <p class="openTime">5:15am</p>
      <p class="spacer">-</p>
      <p class="closedTime">6:45am</p>
    </div>

    <div class="displayDay">
      <p class="day">Fri</p>
      <p class="openTime">3:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">12:30am</p>
    </div>

    <div class="displayDay">
      <p class="day">Sat</p>
      <p class="openTime">1:30am</p>
      <p class="spacer">-</p>
      <p class="closedTime">12:30am</p>
    </div>

    <div class="displayDay">
      <p class="day">Sun</p>
      <p class="openTime">2:15am</p>
      <p class="spacer">-</p>
      <p class="closedTime">12:30am</p>
    </div>
  </div> -->
