<div class="container">
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    value="{{ hoursDisplayed }}"
  >
    <mat-button-toggle
      class="HofOp"
      value="hoursOfOperation"
      aria-label="Hours of Operation"
      (click)="changeHoursView('hoursOfOperation')"
    >
      Hours
    </mat-button-toggle>

    <mat-button-toggle
      class="serving"
      value="hoursServing"
      aria-label="Hours Serving Food"
      (click)="changeHoursView('hoursServing')"
    >
      Serving Food
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="HoursOfOperation" >
    <div *ngFor="let day of hoursToDisplay; let i = index">
      <div *ngIf="!day.isClosed; else closed" class="dayRow">
        <p class="day">{{ days[i] }}</p>
        <p class="open">{{ day.open }}</p>
        <p class="to">to</p>
        <p class="close">{{ day.close }}</p>
      </div>

      <ng-template #closed>
        <div class="dayRowClosed">
          <p class="day">{{ days[i] }}</p>

          <p class="closed">Closed</p>
        </div>
      </ng-template>
    </div>
  </div>

</div>
