.container {
  margin: 0 auto;
  // font-family: "Roboto Mono", monospace;

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
  mat-button-toggle-group {
    border: none;
    display: flex;
    justify-content: center;

    // Button
    .HofOp {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    // Button
    .serving {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    mat-button-toggle {
      border: 1px solid lightgray;
      width: 50%;
    }
  }

  // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

  .HoursOfOperation {
    // font-family: "Roboto Mono", monospace;

    .dayRow {
      // outline: 1px solid red;
      display: grid;
      grid-template-columns: [day]115px [open]95px [to]25px [close]95px;
      justify-content: center;
      text-align: center;
      width: 100%;

      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .day {
        // outline: 1px solid red;
        grid-area: day;
        text-align: right;
        padding-right: 8px;
      }

      .open {
        grid-area: open;
      }

      .to {
        grid-area: to;
      }

      .close {
        grid-area: close;
      }
    }

    .dayRowClosed {
      // outline: 1px solid blue;
      display: grid;
      grid-template-columns: [day]115px [closed]215px;
      justify-content: center;
      text-align: center;
      width: 100%;

      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .day {
        // outline: 1px solid red;
        grid-area: day;
        text-align: right;
        padding-right: 8px;
      }

      .closed {
        grid-area: closed;
      }
    }
  }
}
