<div class="container">
  <div class="mainContent">
    <div class="login-container">
      <form [formGroup]="loginForm"  (ngSubmit)="login()">
        <mat-form-field>
          <input
            matInput
            placeholder="Enter your email"
            formControlName="email"
            required
          />
          <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Enter your password"
            formControlName="password"
            required
            [type]="hidePass ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePass = !hidePass"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
            >
            <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="loginBTN" >
          Login
        </button>
      </form>

        <div class="register">
          <div class="containReg">
            <p>New here?</p>
            <button mat-raised-button color="accent" class="registerBTN" (click)="register()">
              Register
            </button>
          </div>
        </div>
      </div>

    <div class="image">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/hh-ng8-v1.appspot.com/o/Temp%2FbackgroundImage.jpg?alt=media&token=08d8b040-31ce-4759-8a93-8386352173c7"
        alt=""
      />
    </div>
  </div>
</div>
