<div class="contianer">
  <button
    mat-mini-fab
    type="button"
    class="closeBtn"
    (click)="closeDialog('close')"
  >
    <mat-icon class="material-icons">
      close
    </mat-icon>
  </button>

  <!-- {{ dataFromParent }} -->

  <app-select-location
    *ngIf="identifier === 'Address'"
    [oldAddress]="dataFromParent"
    (savedNewAddress)="receiveMessage($event)"
  ></app-select-location>

  <div *ngIf="identifier === 'deleteUser'" class="deleteUser">
    <h1>Are you sure you want to delete your account?</h1>

    <p>
      All data and your User ID will be permanently deleted and unrecoverable
    </p>

    <div class="bottomBtns">
      <button
        mat-raised-button
        type="button"
        color="primary"
        (click)="closeDialog('close')"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        type="button"
        color="warn"
        (click)="closeDialog('delete')"
      >
        Delete My Account
      </button>
    </div>
  </div>

  <div *ngIf="identifier === 'editHours'" class="editHours">
    <h1>Edit Hours</h1>

    <app-edit-hours
      class="editHours"
      *ngFor="let day of hoursArray; let i = index"
      [dayInput]="day"
      (dayOutput)="receiveTime($event)"
    >
    </app-edit-hours>

    <div class="bottomBtns">
      <button
        mat-raised-button
        type="button"
        color="accent"
        (click)="closeDialog('close')"
      >
        Cancel
      </button>

      <button
        [disabled]="HoursError"
        color="primary"
        mat-raised-button
        type="button"
        (click)="updateHours(hoursArray)"
      >
        Update
      </button>
    </div>
  </div>




  <div *ngIf="identifier === 'bedCount'" class="updateBedCount">
    <h1>Bed Count</h1>

    <div class="bedsInput">

      <mat-form-field>
        <input
        matInput
        type="number"
        min="0"
        autocomplete="off"
        [(ngModel)]="bedCount"
        />
      </mat-form-field>
      
    </div>

    <div class="bottomBtns">
      <button
        mat-raised-button
        type="button"
        color="accent"
        (click)="closeDialog('close')"
      >
        Cancel
      </button>

      <button
        color="primary"
        mat-raised-button
        type="button"
        (click)="updateBedCount(bedCount)"
      >
        Update
      </button>
    </div>
  </div>





  <div *ngIf="identifier === 'editImage'" class="editImage">
    <h1>Update Your Image</h1>

    <app-upload-image [userData]="user$"></app-upload-image>
  </div>
</div>
