.contianer {
  position: relative;

  .closeBtn {
    position: absolute;
    right: -22px;
    top: -42px;

    .material-icons {
      margin-top: -3px;
    }
  }

  h1{
    text-align: center;
  }

  .deleteUser {
    width: fit-content;
    margin: 0 auto;
    text-align: center;

    p {
      margin-top: 35px;
    }

    // .bottomBtns {
    //   width: 75%;
    //   margin: 60px auto 15px auto;
    //   display: flex;
    //   justify-content: space-evenly;

    //   button {
    //     width: 35%;
    //   }

    // }


  }


  .editHours {
    width: 525px;
    margin: 0 auto;
  }
  
  
  .updateBedCount {
    width: 100%;
    
    .bedsInput {
      text-align: center;

      input {
        text-align: center;
        font-size: 1.5em;
      }
      
    }
  }




  ::ng-deep .ngx-material-timepicker-toggle{
    display: inherit;
    // line-height: 50px;
    position: absolute;
    top: 7px;
  
  }

}

.bottomBtns {
  width: 75%;
  margin: 60px auto 15px auto;
  display: flex;
  justify-content: space-evenly;

  button {
    width: 35%;
  }

}

